/*INICIO CÓDIGO - LOGIN*/

.login-informacoes {
  background-color:#fff;
  padding: 2%;
  margin: 5% auto;
  border: 1px solid black;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;

}

.login-superior {
  text-align: center;
  margin-bottom: 10%;
}

.icone-usuario {
  font-size: 48px;
  display: block;
  color: #333;
}

.login-superior h2 {
  margin-top: 10px;
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.form-opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.form-opcoes input[type="checkbox"] {
  margin-right: 10px;
}

.login-form input[type="submit"] {
  padding: 10px;
  background-color: #8F0700;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.login-form input[type="submit"]:hover {
  background-color: #8F0700;
}

.opcao-cadastro {
  text-align: center;
  margin-top: 15px;
}

.opcao-cadastro a {
  text-decoration: underline;
  color: black;
}

.form-opcoes a {
  color: black;
}

.info-obrigatorio:after {
  content: " *";
  color: red #8F0700;;
}



/*minhas alteracoes: Ednilson*/
@media screen and (max-width:600px){
  .login-form input[type="submit"] {
    padding: 10px 40px;
}

.form-opcoes input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 2px;
}

}

/*FIM CÓDIGO - LOGIN */