:root {
    --red: #d90429;
    --yellow: #ffc700;
    --dark: #121212;
    --light: #ffffff;
    --bg: #f5f5f5;
    --gray: #e5e7eb;
    --gray-lt: #6b7280;
  }
  
  /* ===== RESET E BASE ===== */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color:#6b7280;
    line-height: 1.5;
  }
  
  /* ===== FUNDO COM LINHAS ===== */
  .bg-linhas {
    position: absolute;
  }
  
  
  
  .busca-input {
    border: none;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    }














