* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
 
 
}

/*INICIO CÓDIGO - HOMEcss */
/*Inicio Header*/

.header-linear-content {
  display: block;
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto;
}
.header-linear-content a{
  text-decoration: none;
  
}

.logo {
  color: #ffff;
  display: flex;
  font-family: 'Orbitron', sans-serif;
}

.logo span {

  color: #8F0700;
}



.navbar {
  background-color: #2c2c2c;
  padding: 1rem;
  position: relative;
  top: 0;
  box-shadow: 0px 6px 10px #2c2c2c;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;


}


.nav-icon-container img {
  width: 43.33px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 0.8rem;
}

nav ul li {
  color: white;
  cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.pesquisa {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.busca-input {
  border: none;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.menu-button {
  display: none;
}

.login {
  display: flex;
  color: white;
  gap: 1.6rem;
  align-items: center;
  list-style-type: none;
  cursor: pointer;

}
.login li a{
  text-decoration: none;
  color: #fff;
}

.login :hover{
    transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}
.titulo01 {

  width: 400px;
  text-align: center;
  margin: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;

}


.clique-button {
  background-color: #8F0700;
  color: #ffffff;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  margin: 0 auto;
}

.cliqueaqui {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #8F0700;
  border: none;

}
.cliqueaqui a{
  text-decoration: none;
  color: #fff;
}
.clique-button:hover{
  transform: translateX(-5px);
  transition: all 0.2s;

}

.carrossel-container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  scroll-snap-type: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: max-content;
  gap: 0rem;
  padding: 1rem;

}

.carrossel img {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 10px;

}

.carrossel img:not(:last-child) {
  margin-right: 16px;
}

.carrossel-container::-webkit-scrollbar {
  display: none;
}

.carrossel-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.secao-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;

}

.conteudo-esquerdo {
  flex: 1;
  max-width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha-marcacao {
  background-color: #8F0700;
  width: 100%;
  height: 1.3rem;

}

/* INICIO - SELEÇÃO DE PRODUTOS */
.selecao-produto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  padding: 1rem;
  box-sizing: border-box;
}

.cabecalho-produto {
  display: flex;
  width: 8rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #8F0700;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.selecao label {
  display: inline-block;
  margin-left: 2rem;
  text-decoration: underline;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;

}

/* FINAL SELEÇÃO DE PRODUTOS*/

/*INICIO MOSTRUARIO/GALERIA*/

.mostruario {
  Display: Flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: nowrap;
}

.galeria-produtos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  flex: 1;
}

.produto {
  text-align: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 0.05);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 0.5rem;

}

.produto h3 {
  font-size: 1rem;
  margin: 0.5rem;
  color: grey;
}

.produto p {
  font-size: 0.875;
  color: #554e4f;
  margin-bottom: 0.5rem;
}

h3{
  font-family: 'Roboto', sans-serif;
}

.preco {
  font-weight: bold;
  color: #4AC741;
}


/*FINAL MOSTRUARIO*/

.video-tutorial {
  padding: 20px;
  background-color: #f0ebeb;
  text-align: center; 
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.video-tutorial h2 {
  color: #a80707;
  margin-bottom: 10px;
  text-align: center;
}

.video-tutorial p {
  color: #666;
  margin-bottom: 20px;
  text-align: center; 
  max-width: 600px; 
}

.video-container {
  max-width: 860px;
  width: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

.video-container iframe {
  width: 100%;
  height: 515px;
  border-radius: 8px; 
  border: 3px solid #8F0700;
}

/* Responsividade */
@media (max-width: 768px) {
  .video-tutorial {
    padding: 15px;
  }
  .video-container iframe {
    height: 250px;
  }
  .video-tutorial p {
    font-size: 14px;
  }
}

/*Final Main*/

/*Media Queries Carrrossel*/

@media screen and (min-width:576px) and (max-width: 1080px) {
  .logo {
    font-size: 1.2rem;
  }

  .header-bottom-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    transition: max-height 0.7s ease-out;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    background-color: rgba(44, 44, 44, 0.8);
    width: 30%;
    top: 2.875rem;
    z-index: 1;
    margin-left: auto;
    right: 0;
    left: auto;
  }

  .show-menu nav {
    display: flexbox;
    max-height: 18.75rem;
    align-items: center;
  }

  .menu-button {
    display: block;
    width: 2.5rem;
    cursor: pointer;
  }

  nav ul {
    flex-direction: column;
    gap: 0rem;

  }

  nav ul li {
    padding: 1rem 0;
  }

  .nav-icon-container,
  .login {
    flex-direction: row;

    gap: 0.5rem;
    margin-right: 1rem;

  }

  .login {
    align-items: flex-end;
    font-size: 0.9rem;
    font-weight: bold;
    gap: 0.4rem;
  }

  .nav-icon-container img { /*erro na sinataxe - EDNILSON*/
    width: 20px;
  }

  .pesquisa .busca-input {
    width: 15rem;
    padding: 0.4rem;

  }


  /*Inicio Responsividade Mostrurio/galeria Produto*/
  .mostruario {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .selecao-produto { /*erro na sinatxe - EDNILSON*/
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
  }

  .galeria-produtos {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 600px;
  }

  .produto {
    max-width: 100%;
  }



  /*Final Responsividade Mostrurio/galeria Produto */


}

/*Final Media Queries*/

/* Inicio Media Queries Header Inicio*/

@media screen and (min-width:576px) and (max-width: 1080px) {

  .carrossel img {
    aspect-ratio: 1/1;
    height: auto;
  }

  .secao-horizontal {
    flex-direction: column;
  }

  .conteudo-esquerdo .carrossel-container {
    width: 100%;
    max-width: 400px;
  }


}

/* Inicio Media Queries Fim*/

/* Final header*/

/*Inicio Footer*/

footer {
  background-color: #2d2e30;
  font-family: Arial, sans-serif;
  padding: 30px;
}

.footer-topico,
.sub-topicos a {
  color: #ffffff;
}

.footer-topico {
  padding: 12px;
  font-size: 20px;
}

.sub-topicos li,
.lista-contato li {
  list-style: none;
  padding: 0 16px;
  margin: 5px;
}

.footer-divisao {
  border: none;
  border-top: 1px solid #8F0700;
}

.footer-superior-completa,
.footer-inferior-completa {
  display: block; /*quebra na pagina, provavelmente resolvido - EDNILSON*/
  justify-content: space-between;
  padding: 0 5%;
}

.footer-creditos {
  text-align: center;
  margin-top: 30px;
  color: #D9D9D9;
  font-size: 12px;
}

.footer-superior-completa {
  margin-bottom: 20px;
}

.footer-inferior-completa {
  margin-top: 20px;
  padding-right: 21.7%;
}

.lista-contato li,
.footer-creditos p {
  color: #d9d9d9;
}

.image-pag {
  padding-left: 30px;
}

.espacamento-icone-sociais {
  padding-left: 30px;

}

